<div class="row">
  <div class="col-md-6">
    <div class="bg-info p-5 m-3">
        <p>
          <strong>Url:</strong>
          <%= link_to @redirection.url_address, @redirection.url_address %>
        </p>

        <p>
          <strong>Short URL:</strong>
          <%= link_to redirect_url(@redirection.mask_url), redirect_url(@redirection.mask_url), target: "_blank" %>
        </p>

        <p>
          <strong>Visit count:</strong>
          <%= @redirection.visits.count %>
        </p>

        <%= link_to 'Shorten Another URL', root_path, class: 'btn btn-success' %>
    </div>
  </div>
</div>
